#roboflow
#ultralytics
#torch

#update 118 to newest version: https://stackoverflow.com/questions/60912744/install-pytorch-from-requirements-txt

--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

#venv
matplotlib
seaborn
pandas
numpy
scipy
scikit-learn
pathlib
opencv-python
yt_dlp
ffmpeg
tqdm
cmake #for onnx
#onnx
ipykernel
torchinfo
tensorboard
pycocotools
roboflow
ultralytics
transformers #hugging face
datasets #hugging face
huggingface_hub #hugging face

#tensorflow #deepsort

fastapi #fastapi
uvicorn #fastapi
python-multipart #fastapi

#for bytetracker
#torch>=1.7
#opencv_python
#loguru
#scikit-image
#tqdm
#torchvision>=0.10.0
#Pillow
#thop
#ninja
#tabulate
#tensorboard
#lapx #lap alternative
#motmetrics
#filterpy
#h5py

# verified versions
#onnx #==1.8.1
#onnxruntime #== 1.15.0
#onnx-simplifier #==0.3.5